.bg-darkcream .edge-details h3 {
    color: var(--color-text-heading);
}

.bg-darkcream .edge-details p {
    color: var(--color-text-heading);
}


/* Sport */


/* ---------------------------- Sports Catering Excellence -------------------------------------- */
.sce-copy-wrap{padding: 3rem 2.5rem;}
.sce-backdrop{ position: absolute; inset: 0 8% 0 0; background: var(--color-darkcream); border-radius: 2rem; z-index: 0;}
.sce-copy{  position: relative;  z-index: 1;}
.sce-heading em{font-style: italic;font-weight: 500;color: var(--color-secondary);}
.sce-leaf{ width: 30px; height: auto; margin-top: 1rem;}
/* -- right tilted photo -- */
.sce-photo-wrap{padding: 1.5rem 0;}
.sce-photo{ 
    width: 100%;
    max-width: 689px;
    aspect-ratio: 23 / 24.2;
    object-fit: cover;
    border: 8px solid var(--color-cream);
    border-radius: 1.5rem;
    box-shadow: 0 24px 44px var(--line);
    transform: rotate(-9deg);
    margin-inline: auto;
    display: block;
    position: absolute;
    top: -18vw;
    left: 3vw;
  }
@media (max-width: 992px){
   .sce-copy-wrap{ padding: 2rem 1.25rem; }
   .sce-backdrop{ inset: 0; }
   .sce-photo{ transform: rotate(2deg); max-width: 340px; }
   .sce-photo {
    width: 100%;
    max-width: 689px;
    aspect-ratio: 23 / 24.2;
    object-fit: cover;
    border: 8px solid var(--color-cream);
    border-radius: 1.5rem;
    box-shadow: 0 24px 44px var(--line);
    transform: rotate(-9deg);
    margin-inline: auto;
    display: block;
    position: relative;
    /* top: -19vw; */
    /* left: -1vw; */
}
}



/* ---------- Drakcream bg thumbslider ---------- */
.merge-imgs {position: absolute; top:0; left: 0;width: 20vw !important; height: auto; display: flex;align-items: center;  justify-content: center;}
.merge-imgs img {position: absolute;}
.merge-imgs img:nth-child(1) {left: -12vw;top: -4vw;z-index: 10;}
.merge-imgs img:nth-child(2) { left: -3vw; top: -3vw;z-index: -10;}
.thumb-grid-wrapper {position: relative;left: -8vw; margin-top: 3vw;}
.merge-img {will-change: transform, opacity;}

  /* 125% zoom */
@media screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio:1.25),screen and (min-width:1025px) and (min-resolution:120dpi) {

    .nourish-media { max-width: 30rem !important ;}
        .lg\:gap-16 {gap: calc(var(--spacing) * 2);}
        .sce-section {padding: 10px 0px;}
        .sce-photo {width: 100%;max-width: 580px;}
}

@media (min-width: 1200px) and (max-width: 1366px) {


.sce-copy-wrap { padding: 0rem 2.5rem;}
.sce-photo { width: 100%; max-width: 500px !important; aspect-ratio: 22 / 24.2; top: -20vw; left: -1vw;}

 }


  /* 150% */
  @media screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio:1.5),screen and (min-width:1025px) and (min-resolution:144dpi){
    
    .nourish-media { max-width: 30rem !important ;}
        .lg\:gap-16 {gap: calc(var(--spacing) * 16);}
        .sce-section {padding: 60px 0px;}
        .sce-photo {width: 100%;max-width: 580px;}
  }