/* Three carads section */
.story-gallery{position:relative;overflow: hidden; padding: 100px 0px;}
.story-gallery-wrap{
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
}
.cards-wrapper{ position:relative;}
.site-header .bg-cream{ padding: 20px !important    ;}
.gallery-card{position:relative;width:405px;height:350px;aspect-ratio: 405 / 350;border-radius:22px;overflow:hidden;background: var(--color-primary);padding:8px;box-shadow:0 30px 60px rgba(0,0,0,.18);}
.gallery-card img{ width:100%; height:100%; object-fit:cover; border-radius:18px;}

/* Final Positions */
.gallery-left{ left:2%; transform:rotate(-6deg); z-index:1;}
.story-gallery-left{position: absolute;left: -5vw;bottom: -40px;z-index: 1;}
.story-gallery-right{ position: absolute; right: -14vw; top: 52%; transform: translateY(-50%); z-index: 2;}

.story-gallery-right .story-leaf{ position: absolute; left: 35px; bottom: 0;}
.gallery-center{ z-index:21;}
.gallery-right{ right:2%; transform:rotate(6deg);  z-index:20;}

@media(max-width:991px){

.gallery-card{padding: 5px;width:180px;height:240px;}
.gallery-left{left:0;}
.gallery-right{right:0;}
.story-gallery{ padding: 80px 0px;}

}
 @media (min-width: 1200px) and (max-width: 1366px) {

 }