#playgrounds-section .playground-media::after {
    content: '';
    position: absolute;

    left: 0;
    top: 100%;

    width: 100%;
    height: 35%;

    background: linear-gradient(
        to top,
        transparent,
        rgba(255,255,255,0.22),
        transparent
    );

    opacity: 0;
    transition:
        top 1.2s ease,
        opacity 0.4s ease;
}

#playgrounds-section .swiper-slide:hover .playground-media::after {
    opacity: 1;
    top: -35%;
}

#playgrounds-section .swiper-slide{
    will-change: transform, opacity;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.playground-media {
    aspect-ratio: 1 / 1;
}

.playground-image,
.playground-caption {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.three-box-slider {
    padding-bottom: 20px;
    margin-bottom: -20px;
}

.feature-card {
    background: var(--color-cream);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.05);
}

@media (min-width: 640px) {
    .feature-card {
        padding-inline: 2rem;
    }
}

@media (min-width: 768px) {
    .feature-card {
        padding: 2rem 3rem;
    }
}

.feature-card:hover {
    background: var(--color-green);
}


/* Small screen laptop */
 @media (min-width: 1200px) and (max-width: 1366px) {


    .feature-card h3{font-size: 1.55rem;}
    .feature-card {padding: 1.5rem 2rem;}
    .feature-card .p-6{ padding: 20px 10px;}

    .edge-card-title {font-size: 1.75rem;}
    .edge-card-text{font-size: 1rem;}
    .underline{font-weight: 300;}
   
    .blogs-cards-slider .insight-title { font-size: 1.5rem;}
    .playgroud-button { padding-bottom: 20px; margin-bottom: -15px;}
    .swiper-button-next-custom:hover, .swiper-button-prev-custom:hover { box-shadow: none; }
     .swiper-button-next-custom{ transition: transform var(--motion-slow) ,  }

}
